In [1]:
import tensorflow as tf
from tensorflow import keras
import sklearn
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#moves along the upright position
df1_x = pd.read_excel('./uprightdataset/df23/val_X.xls',header=None).iloc[1:,:] #0,0 dataset
#df2_x = pd.read_excel('./uprightdataset/df24/val_X.xls',header=None).iloc[1:,:] #2pi3,0 dataset
df3_x = pd.read_excel('./mlme_data_set/Dataset/df3/val_X.xls',header=None).iloc[1: , :]
df3_x1 = pd.read_excel('./mlme_data_set/Dataset/df3_1/val_X.xls',header=None).iloc[1: , :]
df3_x2 = pd.read_excel('./mlme_data_set/Dataset/df3_2/val_X.xls',header=None).iloc[1: , :]
df3_x3 = pd.read_excel('./mlme_data_set/Dataset/df3_3/val_X.xls',header=None).iloc[1: , :]
df3_x4 = pd.read_excel('./mlme_data_set/Dataset/df3_4/val_X.xls',header=None).iloc[1: , :]
df3_x5 = pd.read_excel('./mlme_data_set/Dataset/df3_5/val_X.xls',header=None).iloc[1: , :]
df3_x6 = pd.read_excel('./mlme_data_set/Dataset/df3_6/val_X.xls',header=None).iloc[1: , :]
df3_x7 = pd.read_excel('./mlme_data_set/Dataset/df3_7/val_X.xls',header=None).iloc[1: , :]
df3_x8 = pd.read_excel('./mlme_data_set/Dataset/df3_8/val_X.xls',header=None).iloc[1: , :]

In [344]:
df1_x = pd.read_excel('./mlme_data_set/Dataset/df1/val_X.xls',header=None).iloc[1: , :]
df2_x = pd.read_excel('./mlme_data_set/Dataset/df2/val_X.xls',header=None).iloc[1: , :]
df3_x = pd.read_excel('./mlme_data_set/Dataset/df3/val_X.xls',header=None).iloc[1: , :]
df4_x = pd.read_excel('./mlme_data_set/Dataset/df4/val_X.xls',header=None).iloc[1: , :]
df5_x = pd.read_excel('./mlme_data_set/Dataset/df5/val_X.xls',header=None).iloc[1: , :]
df6_x = pd.read_excel('./mlme_data_set/Dataset/df6/val_X.xls',header=None).iloc[1: , :]
df7_x = pd.read_excel('./mlme_data_set/Dataset/df7/val_X.xls',header=None).iloc[1: , :]
df8_x = pd.read_excel('./mlme_data_set/Dataset/df8/val_X.xls',header=None).iloc[1: , :]
df9_x = pd.read_excel('./mlme_data_set/Dataset/df9/val_X.xls',header=None).iloc[1: , :]
df10_x = pd.read_excel('./mlme_data_set/Dataset/df10/val_X.xls',header=None).iloc[1: , :]
df11_x = pd.read_excel('./mlme_data_set/Dataset/df11/val_X.xls',header=None).iloc[1: , :]
df12_x = pd.read_excel('./mlme_data_set/Dataset/df12/val_X.xls',header=None).iloc[1: , :]
df13_x = pd.read_excel('./mlme_data_set/Dataset/df13/val_X.xls',header=None).iloc[1: , :]
df14_x = pd.read_excel('./mlme_data_set/Dataset/df14/val_X.xls',header=None).iloc[1: , :]
df15_x = pd.read_excel('./mlme_data_set/Dataset/df15/val_X.xls',header=None).iloc[1: , :]
df16_x = pd.read_excel('./mlme_data_set/Dataset/df16/val_X.xls',header=None).iloc[1: , :]
df17_x = pd.read_excel('./mlme_data_set/Dataset/df17/val_X.xls',header=None).iloc[1: , :]
df18_x = pd.read_excel('./mlme_data_set/Dataset/df18/val_X.xls',header=None).iloc[1: , :]
df19_x = pd.read_excel('./mlme_data_set/Dataset/df19/val_X.xls',header=None).iloc[1: , :]
df20_x = pd.read_excel('./mlme_data_set/Dataset/df20/val_X.xls',header=None).iloc[1: , :]
df21_x = pd.read_excel('./mlme_data_set/Dataset/df21/val_X.xls',header=None).iloc[1: , :]
df22_x = pd.read_excel('./mlme_data_set/Dataset/df22/val_X.xls',header=None).iloc[1: , :]

In [346]:
df23_x = pd.read_excel('./uprightdataset/df23/val_X.xls',header=None).iloc[1:,:]
df24_x = pd.read_excel('./uprightdataset/df24/val_X.xls',header=None).iloc[1:,:]
df25_x = pd.read_excel('./uprightdataset/df25/val_X.xls',header=None).iloc[1:,:]
df26_x = pd.read_excel('./uprightdataset/df26/val_X.xls',header=None).iloc[1:,:]
df27_x = pd.read_excel('./uprightdataset/df27/val_X.xls',header=None).iloc[1:,:]
df28_x = pd.read_excel('./uprightdataset/df28/val_X.xls',header=None).iloc[1:,:]
df29_x = pd.read_excel('./uprightdataset/df29/val_X.xls',header=None).iloc[1:,:]
df30_x = pd.read_excel('./uprightdataset/df30/val_X.xls',header=None).iloc[1:,:]

In [4]:
df1_x.head(3)

          0         1         2         3         4         5
1 -0.000749  3.133450  3.149512 -0.137090 -0.502073  0.287861
2 -0.011015  3.102022  3.163383 -0.374841 -1.051982  0.380235
3 -0.030584  3.051139  3.177255 -0.601243 -1.464162  0.273335

In [3]:
#moves along the upright position
df1_f = pd.read_excel('./uprightdataset/df23/val_F.xls',header=None)
#df2_f = pd.read_excel('./uprightdataset/df24/val_F.xls',header=None)
df3_f = pd.read_excel('./mlme_data_set/Dataset/df3/val_F.xls',header=None)
df3_f1 = pd.read_excel('./mlme_data_set/Dataset/df3_1/val_F.xls',header=None)
df3_f2 = pd.read_excel('./mlme_data_set/Dataset/df3_2/val_F.xls',header=None)
df3_f3 = pd.read_excel('./mlme_data_set/Dataset/df3_3/val_F.xls',header=None)
df3_f4 = pd.read_excel('./mlme_data_set/Dataset/df3_4/val_F.xls',header=None)
df3_f5 = pd.read_excel('./mlme_data_set/Dataset/df3_5/val_F.xls',header=None)
df3_f6 = pd.read_excel('./mlme_data_set/Dataset/df3_6/val_F.xls',header=None)
df3_f7 = pd.read_excel('./mlme_data_set/Dataset/df3_7/val_F.xls',header=None)
df3_f8 = pd.read_excel('./mlme_data_set/Dataset/df3_8/val_F.xls',header=None)

In [345]:
df1_f = pd.read_excel('./mlme_data_set/Dataset/df1/val_F.xls',header=None)
df2_f = pd.read_excel('./mlme_data_set/Dataset/df2/val_F.xls',header=None)
df3_f = pd.read_excel('./mlme_data_set/Dataset/df3/val_F.xls',header=None)
df4_f = pd.read_excel('./mlme_data_set/Dataset/df4/val_F.xls',header=None)
df5_f = pd.read_excel('./mlme_data_set/Dataset/df5/val_F.xls',header=None)
df6_f = pd.read_excel('./mlme_data_set/Dataset/df6/val_F.xls',header=None)
df7_f = pd.read_excel('./mlme_data_set/Dataset/df7/val_F.xls',header=None)
df8_f = pd.read_excel('./mlme_data_set/Dataset/df8/val_F.xls',header=None)
df9_f = pd.read_excel('./mlme_data_set/Dataset/df9/val_F.xls',header=None)
df10_f = pd.read_excel('./mlme_data_set/Dataset/df10/val_F.xls',header=None)
df11_f = pd.read_excel('./mlme_data_set/Dataset/df11/val_F.xls',header=None)
df12_f = pd.read_excel('./mlme_data_set/Dataset/df12/val_F.xls',header=None)
df13_f = pd.read_excel('./mlme_data_set/Dataset/df13/val_F.xls',header=None)
df14_f = pd.read_excel('./mlme_data_set/Dataset/df14/val_F.xls',header=None)
df15_f = pd.read_excel('./mlme_data_set/Dataset/df15/val_F.xls',header=None)
df16_f = pd.read_excel('./mlme_data_set/Dataset/df16/val_F.xls',header=None)
df17_f = pd.read_excel('./mlme_data_set/Dataset/df17/val_F.xls',header=None)
df18_f = pd.read_excel('./mlme_data_set/Dataset/df18/val_F.xls',header=None)
df19_f = pd.read_excel('./mlme_data_set/Dataset/df19/val_F.xls',header=None)
df20_f = pd.read_excel('./mlme_data_set/Dataset/df20/val_F.xls',header=None)
df21_f = pd.read_excel('./mlme_data_set/Dataset/df21/val_F.xls',header=None)
df22_f = pd.read_excel('./mlme_data_set/Dataset/df22/val_F.xls',header=None)

In [347]:
df23_f = pd.read_excel('./uprightdataset/df23/val_F.xls',header=None)
df24_f = pd.read_excel('./uprightdataset/df24/val_F.xls',header=None)
df25_f = pd.read_excel('./uprightdataset/df25/val_F.xls',header=None)
df26_f = pd.read_excel('./uprightdataset/df26/val_F.xls',header=None)
df27_f = pd.read_excel('./uprightdataset/df27/val_F.xls',header=None)
df28_f = pd.read_excel('./uprightdataset/df28/val_F.xls',header=None)
df29_f = pd.read_excel('./uprightdataset/df29/val_F.xls',header=None)
df30_f = pd.read_excel('./uprightdataset/df30/val_F.xls',header=None)

In [6]:
df2_f.head(3)

     0
0 -4.0
1 -4.0
2 -4.0

In [4]:
df1_x.shape

NameError: name 'df1_x' is not defined

In [348]:
x = df1_x.append(df2_x).append(df3_x).append(df4_x).append(df5_x).append(df6_x).append(df7_x).append(df8_x).append(df9_x).append(df10_x).append(df11_x).append(df12_x).append(df13_x).append(df14_x).append(df15_x).append(df16_x).append(df17_x).append(df18_x).append(df19_x).append(df20_x).append(df21_x).append(df22_x).append(df23_x).append(df24_x).append(df25_x).append(df26_x).append(df27_x).append(df28_x).append(df29_x).append(df30_x)
#x = df23_x.append(df24_x).append(df25_x).append(df26_x).append(df27_x).append(df28_x).append(df29_x).append(df30_x)
x_renamed = x.rename(columns={0:"x",1:"theta1",2:"theta2",3:"v",4:"dtheta1",5:"dtheta2"})
x_renamed

,x,theta1,theta2,v,dtheta1,dtheta2
1,-7.488431e-04,3.133450,3.149512,-1.370901e-01,-5.020729e-01,2.878609e-01
2,-1.101508e-02,3.102022,3.163383,-3.748407e-01,-1.051982e+00,3.802354e-01
3,-3.058420e-02,3.051139,3.177255,-6.012427e-01,-1.464162e+00,2.733351e-01
4,-5.889750e-02,2.987363,3.181798,-8.114937e-01,-1.692392e+00,-8.955114e-02
5,-9.526696e-02,2.918258,3.166932,-1.004087e+00,-1.733453e+00,-6.872780e-01
...,...,...,...,...,...,...
246,6.818339e-15,6.283185,6.283185,3.175741e-14,-1.139458e-13,-3.477301e-14
247,7.801362e-15,6.283185,6.283185,2.099595e-14,-8.508598e-14,-3.191238e-14
248,7.972631e-15,6.283185,6.283185,-4.195826e-15,-2.251345e-14,-3.744042e-14
249,7.436722e-15,6.283185,6.283185,-1.809206e-14,1.199991e-14,-3.577486e-14
250,6.510435e-15,6.283185,6.283185,-2.574246e-14,3.116034e-14,-3.084062e-14

In [4]:
x=df1_x.append(df3_x).append(df3_x1).append(df3_x2).append(df3_x3).append(df3_x4).append(df3_x5).append(df3_x6).append(df3_x7).append(df3_x8)
x_renamed = x.rename(columns={0:"x",1:"theta1",2:"theta2",3:"v",4:"dtheta1",5:"dtheta2"})
y=df1_f.append(df3_f).append(df3_f1).append(df3_f2).append(df3_f3).append(df3_f4).append(df3_f5).append(df3_f6).append(df3_f7).append(df3_f8)
y_renamed = y.rename(columns={0:"F"}).to_numpy()

In [349]:
y= df1_f.append(df2_f).append(df3_f).append(df4_f).append(df5_f).append(df6_f).append(df7_f).append(df8_f).append(df9_f).append(df10_f).append(df11_f).append(df12_f).append(df13_f).append(df14_f).append(df15_f).append(df16_f).append(df17_f).append(df18_f).append(df19_f).append(df20_f).append(df21_f).append(df22_f).append(df23_f).append(df24_f).append(df25_f).append(df26_f).append(df27_f).append(df28_f).append(df29_f).append(df30_f)
#y= df23_f.append(df24_f).append(df25_f).append(df26_f).append(df27_f).append(df28_f).append(df29_f).append(df30_f)
y_renamed = y.rename(columns={0:"F"}).to_numpy()
y_renamed

#we are not using this

array([[-3.90435653e+00],
       [-4.00000000e+00],
       [-4.00000000e+00],
       ...,
       [-4.02057509e-13],
       [-2.15898836e-13],
       [-1.13240561e-13]])

In [292]:
type(x)

pandas.core.frame.DataFrame

In [5]:
x_renamed['F'] = y_renamed
#x_remaned = pd.concat([x_renamed, y_renamed], ignore_index=True)

In [29]:
x_renamed.head()

     x  theta1  theta2    v  dtheta1  dtheta2    F
1  0.0     0.0     0.0  0.0      0.0      0.0  0.0
2  0.0     0.0     0.0  0.0      0.0      0.0  0.0
3  0.0     0.0     0.0  0.0      0.0      0.0  0.0
4  0.0     0.0     0.0  0.0      0.0      0.0  0.0
5  0.0     0.0     0.0  0.0      0.0      0.0  0.0

In [6]:
x_renamed.shape

(2500, 7)

In [296]:
data_filtered = x_renamed.drop_duplicates()

In [297]:
data_filtered.shape

(1, 7)

In [299]:
train, test = train_test_split(data_filtered, test_size=0.2, random_state=42, shuffle=True)

ValueError: With n_samples=1, test_size=0.2 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.

In [25]:
x_train = train[['x', 'theta1', 'theta2', 'v', 'dtheta1', 'dtheta2']]
y_train = train[['F']]

x_test = test[['x', 'theta1', 'theta2', 'v', 'dtheta1', 'dtheta2']]
y_test = test[['F']]

In [7]:
x_train = x_renamed[['x', 'theta1', 'theta2', 'v', 'dtheta1', 'dtheta2']]
y_train = x_renamed[['F']]

In [8]:
def init_weights(architecture):
    W = []
    b = []
    np.random.seed(1)
    hidden_layers = len(architecture)-1
    for i in range(hidden_layers):
        W.append(np.random.randn(architecture[i+1]).reshape(-1,1))
        b.append(np.zeros(architecture[i+1]).reshape(-1,1))
    return W,b

In [9]:
architecture = [6, 25, 25, 1]
W, b = init_weights(architecture)
W[0].shape

(25, 1)

In [10]:
x_test.shape

NameError: name 'x_test' is not defined

In [11]:
x_train.shape

(2500, 6)

In [12]:
tf.random.set_seed(99) # Seeding to get reproducable results

# Variant 2: For the sake of completeness 
# this is an alternative way to write the sequential model.
Imitation_model = keras.Sequential(
    [
        keras.layers.InputLayer(input_shape=(6,), name='input'),
        keras.layers.Dense(5, activation='tanh', name='hidden_1'),
        keras.layers.Dense(4, activation='tanh', name='hidden_2'),
        keras.layers.Dense(4, activation='tanh', name='hidden_3'),
        keras.layers.Dense(3, activation='tanh', name='hidden_4'),
        keras.layers.Dense(3, activation='tanh', name='hidden_5'),
        keras.layers.Dense(2, activation='tanh', name='hidden_6'),
        #keras.layers.Dense(1, activation='tanh', name='hidden_7'),
        keras.layers.Dense(1 , name='output'),
    ],
    name='simple_model'
)
#activation='linear'

In [13]:
Imitation_model.summary()

Model: "simple_model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
hidden_1 (Dense)             (None, 5)                 35
_________________________________________________________________
hidden_2 (Dense)             (None, 4)                 24
_________________________________________________________________
hidden_3 (Dense)             (None, 4)                 20
_________________________________________________________________
hidden_4 (Dense)             (None, 3)                 15
_________________________________________________________________
hidden_5 (Dense)             (None, 3)                 12
_________________________________________________________________
hidden_6 (Dense)             (None, 2)                 8
_________________________________________________________________
output (Dense)               (None, 1)                 3
=================================================================
Total params: 117
Trainable params: 117
Non-trainable params: 0
_________________________________________________________________

In [14]:
y_hat = Imitation_model.predict(x_train)
x_train.to_numpy().shape

(2500, 6)

In [15]:
Imitation_model.compile(
    # Optimization algorithm
    optimizer=tf.keras.optimizers.Adagrad(learning_rate=0.01),
    # Loss function to minimize
    loss=tf.keras.losses.MSE,
)

In [23]:
history = Imitation_model.fit(
    x_train, 
    y_train,
    epochs=50,
    verbose=1,
    #validation_data=(x_test, y_test)
)

Epoch 1/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0920
Epoch 2/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0921
Epoch 3/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0920
Epoch 4/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0919
Epoch 5/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0916
Epoch 6/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0916
Epoch 7/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0914
Epoch 8/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0914
Epoch 9/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0913
Epoch 10/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0911
Epoch 11/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0910
Epoch 12/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0909
Epoch 13/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0907
Epoch 14/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0906
Epoch 15/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0904
Epoch 16/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0903
Epoch 17/50
79/79 [==============================] - 0s 974us/step - loss: 0.0903
Epoch 18/50
79/79 [==============================] - 0s 974us/step - loss: 0.0901
Epoch 19/50
79/79 [==============================] - 0s 974us/step - loss: 0.0899
Epoch 20/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0898
Epoch 21/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0897
Epoch 22/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0896
Epoch 23/50
79/79 [==============================] - 0s 2ms/step - loss: 0.0895
Epoch 24/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0895
Epoch 25/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0893
Epoch 26/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0891
Epoch 27/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0891
Epoch 28/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0889
Epoch 29/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0889
Epoch 30/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0887
Epoch 31/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0886
Epoch 32/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0885
Epoch 33/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0884
Epoch 34/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0883
Epoch 35/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0882
Epoch 36/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0880
Epoch 37/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0880
Epoch 38/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0879
Epoch 39/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0877
Epoch 40/50
79/79 [==============================] - 0s 936us/step - loss: 0.0876
Epoch 41/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0875
Epoch 42/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0874
Epoch 43/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0872
Epoch 44/50
79/79 [==============================] - 0s 2ms/step - loss: 0.0873
Epoch 45/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0871
Epoch 46/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0870
Epoch 47/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0869
Epoch 48/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0868
Epoch 49/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0866
Epoch 50/50
79/79 [==============================] - 0s 1ms/step - loss: 0.0866

In [474]:
y_hat = Imitation_model.predict(x_test)

In [267]:
sklearn.metrics.r2_score(y_hat,y_test)

0.821262653002182

In [24]:
#Save model to file
Imitation_model.save("Imitation_model",'./')

INFO:tensorflow:Assets written to: Imitation_model\assets

In [25]:
from keras.models import model_from_json
# serialize model to JSON
model_json = Imitation_model.to_json()
with open("Imitation_model.json", "w") as json_file:
    json_file.write(model_json)
# serialize weights to HDF5
Imitation_model.save_weights("Imitation_model.h5")
print("Saved model to disk")

Saved model to disk

In [26]:
# load json and create model
json_file = open('Imitation_model.json', 'r')
loaded_model_json = json_file.read()
json_file.close()
loaded_model = model_from_json(loaded_model_json)
# load weights into new model
loaded_model.load_weights("Imitation_model.h5")
print("Loaded model from disk")

Loaded model from disk

In [27]:

x0 = pd.DataFrame([0.0,0.0,0.0,0.0,0.0,0.0])
print(x0)
prediction = loaded_model.predict(x0.T)
print(prediction)

     0
0  0.0
1  0.0
2  0.0
3  0.0
4  0.0
5  0.0
[[-0.0072085]]